langchain
python-dotenv
langchain-community
ipykernel
beautifulsoup4
bs4
pypdf
Arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-groq
duckdb
langchain-google-genai
pandas
numpy
pytube
unstructured
mysql-connector-python
duckduckgo-search
validators==0.35.0
youtube_transcript_api
openai
SQLAlchemy
numexpr